html,
body,
#root {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}
body.body {
	height: 100% !important;
}
.MuiBox-root {
	min-height: 100%;
}
.home {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 600px) {
		flex-direction: column;
	}
	.box-link {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 150px;
		background-color: #fff;
		border-radius: 12px;
		margin: 10px;
		text-decoration: none;
		color: #000;
		opacity: 0.6;
		transition: 0.5s;
		border: 1px solid #d1d1d1;
		transition: all 0.5s;
		&:hover {
			color: white;
			opacity: 1;
			background-color: #ff7900;
		}
	}
}

table {
	&.th-right {
		th {
			text-align: right;
		}
	}
	&.th-left {
		th {
			text-align: left;
		}
	}
}

#PesonalSearch .long-text-cell {
	white-space: initial;
	.MuiDataGrid-cellContent {
		max-height: 100%;
		box-sizing: border-box;
		overflow: auto;
	}
}

table.custom-vertical-table {
	width: 100%;
	tr {
		border-bottom: 1px solid lightgray;
		&:last-child {
			border: none;
		}
		td {
			width: 50%;
			font-size: 0.875rem;
			vertical-align: top;
			&:first-of-type {
				color: #0039a6;
			}
			&:last-of-type {
				color: grey;
			}
		}
	}
}
